# Importing python libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import dateutil.parser as dparser

# Reading dataset

###### Load loan.csv in a dataframe

In [2]:
# Specify columns which need to be parsed as dates
parse_dates = ["last_pymnt_d", "next_pymnt_d"]

In [3]:
loan_df = pd.read_csv("loan.csv", parse_dates = parse_dates)

# Understanding dataset

### Data overview

In [4]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
loan_df.shape

(39717, 111)

In [6]:
pd.value_counts(loan_df.dtypes)

float64    74
object     24
int64      13
dtype: int64

In [7]:
loan_df.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

#### Analysing columns with all null values

In [8]:
columns_with_no_data = loan_df.columns[loan_df.isnull().all()].to_list()

In [9]:
len(columns_with_no_data)

54

There are total 54 columns out of total 111, with all null values in the dataset. We can get rid of them as they won't bring any value to our analysis.

# Data cleaning

### Remove columns having 0 non-null values

In [10]:
loan_df.drop(columns = columns_with_no_data, inplace = True)
loan_df.shape

(39717, 57)

### Removing columns with more than 30% of null values

In [11]:
null_values_threshold = int(loan_df.shape[0] * (30 / 100))
null_values_threshold

11915

In [12]:
columns_with_highers_null_values = loan_df.columns[loan_df.isnull().sum() > null_values_threshold].to_list()
columns_with_highers_null_values

['desc', 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d']

##### Columns having more than 30% missing values would be difficult to impute and might lead to wrong results so we can drop them

In [13]:
loan_df.drop(columns = columns_with_highers_null_values, inplace = True)
loan_df.shape

(39717, 53)

#### Removing column zip_code as it is a masked data

In [14]:
loan_df.drop("zip_code", axis = 1, inplace = True)
loan_df.shape

(39717, 52)

#### Removing url as its derived from id column and doesn't serve any special purpose for analysis

In [15]:
loan_df.drop("url", axis = 1, inplace = True)
loan_df.shape

(39717, 51)

#### Removing emp_title. Seems to be just some company names of customers

In [16]:
loan_df.drop("emp_title", axis = 1, inplace = True)
loan_df.shape

(39717, 50)

#### Removing columns tax_liens and delinq_amnt because all values are either null or 0

In [17]:
loan_df[["tax_liens", "delinq_amnt"]].describe().T

               count  mean  std  min  25%  50%  75%  max
tax_liens    39678.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
delinq_amnt  39717.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [18]:
loan_df.drop(columns = ["tax_liens", "delinq_amnt"], inplace = True)
loan_df.shape

(39717, 48)

#### Understanding loan_status

In [19]:
loan_df["loan_status"].value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

We need to dropoff "Current" loan_status from the dataset because we can not do a prescriptive analysis on the ongoing loans

In [20]:
loan_df = loan_df[~(loan_df["loan_status"] == "Current")]
loan_df.shape

(38577, 48)

#### id and member_id are identifiers so we can drop these

In [21]:
print("is id column an identifier: " + str(loan_df["id"].is_unique))
print("is member_id column an identifier: " + str(loan_df["member_id"].is_unique))

is id column an identifier: True
is member_id column an identifier: True

In [23]:
loan_df.drop(columns = ["id", "member_id"], inplace = True)
loan_df.shape

(38577, 46)

#### Inspect application_type

In [26]:
loan_df["application_type"].value_counts()

INDIVIDUAL    38577
Name: application_type, dtype: int64

In [27]:
# Droping as all application_type are same
loan_df.drop("application_type", axis = 1, inplace = True)
loan_df.shape

(38577, 45)

#### Duplicate data inspection

In [24]:
loan_df.duplicated().any()

False

In [22]:
loan_df.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Data columns (total 48 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38577 non-null  int64
 1   member_id                   38577 non-null  int64
 2   loan_amnt                   38577 non-null  int64
 3   funded_amnt                 38577 non-null  int64
 4   funded_amnt_inv             38577 non-null  float64
 5   term                        38577 non-null  object
 6   int_rate                    38577 non-null  object
 7   installment                 38577 non-null  float64
 8   grade                       38577 non-null  object
 9   sub_grade                   38577 non-null  object
 10  emp_length                  37544 non-null  object
 11  home_ownership              38577 non-null  object
 12  annual_inc                  38577 non-null  float64
 13  verification_status         38577 non-null  object
 14  issue_d                     38577 non-null  object
 15  loan_status                 38577 non-null  object
 16  pymnt_plan                  38577 non-null  object
 17  purpose                     38577 non-null  object
 18  title                       38566 non-null  object
 19  addr_state                  38577 non-null  object
 20  dti                         38577 non-null  float64
 21  delinq_2yrs                 38577 non-null  int64
 22  earliest_cr_line            38577 non-null  object
 23  inq_last_6mths              38577 non-null  int64
 24  open_acc                    38577 non-null  int64
 25  pub_rec                     38577 non-null  int64
 26  revol_bal                   38577 non-null  int64
 27  revol_util                  38527 non-null  object
 28  total_acc                   38577 non-null  int64
 29  initial_list_status         38577 non-null  object
 30  out_prncp                   38577 non-null  float64
 31  out_prncp_inv               38577 non-null  float64
 32  total_pymnt                 38577 non-null  float64
 33  total_pymnt_inv             38577 non-null  float64
 34  total_rec_prncp             38577 non-null  float64
 35  total_rec_int               38577 non-null  float64
 36  total_rec_late_fee          38577 non-null  float64
 37  recoveries                  38577 non-null  float64
 38  collection_recovery_fee     38577 non-null  float64
 39  last_pymnt_d                38506 non-null  object
 40  last_pymnt_amnt             38577 non-null  float64
 41  last_credit_pull_d          38575 non-null  object
 42  collections_12_mths_ex_med  38521 non-null  float64
 43  policy_code                 38577 non-null  int64
 44  application_type            38577 non-null  object
 45  acc_now_delinq              38577 non-null  int64
 46  chargeoff_within_12_mths    38521 non-null  float64
 47  pub_rec_bankruptcies        37880 non-null  float64
dtypes: float64(17), int64(12), object(19)
memory usage: 14.4+ MB